<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="main-container">
        <aside class="aside-left">
            <div class="sender">
                <img class="sender__image" src="<%= userAccount.image %>" alt="profile photo">
                <div class="sender__info">
                    <h2 class="sender__info__name subtitle" data-account="<%= userAccount.name %>"><%= userAccount.name %></h2>
                    <div class="sender__info__isActive">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        <span class="text">Active</span>
                    </div>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search Contact">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="users">
                <h3 class="subtitle">Chats</h3>
                <nav class="users__navbar">
                    <ul class="users__navbar__list">
                        <li class="isSelected">All</li>
                        <li>Group</li>
                    </ul>
                </nav>
                <ul class="users__list" data-account="<%= userAccount.id %>">
                    <% for(let user of users) { %>
                        <li class="users__list__account" data-id="<%= user.id%>" onclick="handleUser(this);">
                            <div class="users__list__account__profile">
                                <img src="<%= user.image %>" alt="profile photo">
                                <div class="users__list__account__profile__info">
                                    <p class="name"><%= user.name %></p>
                                    <p class="typing"></p>
                                </div>
                            </div>
                            <div class="users__list__account__info">
                                <p class="date">11:26</p>
                                <span class="isActive"></span>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </aside>
        <main class="chat">
            <header class="chat__header">
                <h3 class="message__title subtitle">Rejoindre un salon</h3>
                <span class="isActive"></span>
            </header>
            <section class="chat__main">

                <ul class="message__list"></ul>

                <form id="formMessage">
                    <input type="text" name="message" id="message" autocomplete="off" placeholder="Type Here">
                    <button type="submit" class="submit"><i class="fa-solid fa-circle-chevron-right"></i></button>
                </form>
            </section>
        </main>
        <aside class="aside-right">
            <section class="receiver">
                <img src="" alt="photo profile" class="receiver__image">
                <h2 class="message__title"></h2>
            </section>
            <section class="receiver__info">
                <ul>
                    <li class="receiver__info__phone">
                        <p>Phone</p>
                        <p>+62 356</p>
                    </li>
                    <li class="receiver__info__description">
                        <p>Description</p>
                        <p>Avaible</p>
                    </li>
                    <li class="receiver__info__email">
                        <p>Email</p>
                        <p>tamara@gmail.com</p>
                    </li>
                </ul>
            </section>
            <div class="shared">
                <p>Shared File</p>
                <form action="" class="shared__form">
                    <i class="fa-solid fa-file-lines"></i>
                    <input type="file" name="file" id="file">
                    <i class="fa-solid fa-angle-right"></i>
                </form>
            </div>

        </aside>
    </div>
    <script src="https://kit.fontawesome.com/e53f4fb6f8.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>