<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="main-container">
        <aside class="aside-left">
            <div class="sender">
                <img class="sender__image" src="<%= userAccount.image %>" alt="profile photo">
                <div class="sender__info">
                    <h2 class="sender__info__name subtitle" data-id="<%= userAccount.id %>">
                            <%= userAccount.name %>
                    </h2>
                    <div class="sender__info__isActive">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        <span class="text">Active</span>
                    </div>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search Contact">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="users">
                <h3 class="subtitle">Chats</h3>
                <nav class="users__navbar">
                    <ul class="users__navbar__list">
                        <li data-category="all" class="isSelected">All</li>
                        <li data-category="group">Group</li>
                    </ul>
                </nav>
                <ul class="users__list">
                    <% for(let user of users) { %>
                        <li 
                            class="users__list__account"
                            data-id="<%= user.id %>" 
                            onclick="handleUser('<%= userAccount.id %>', '<%- encodeURIComponent(JSON.stringify(user)) %>')">
                            <div class="users__list__account__profile">
                                <img src="<%= user.image %>" alt="profile photo">
                                <div class="users__list__account__profile__info">
                                    <p class="name"><%= user.name %></p>
                                    <p class="typing grey-text fs-15"></p>
                                </div>
                            </div>
                            <div class="users__list__account__info">
                                <p class="date grey-text fs-15">11:26</p>
                                <span class="isConnected notActive"></span>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <ul class="group__list isHidden">
                    <li class="group__create">
                        <i class="fa-solid fa-square-plus"></i>
                        <p>Create a  Room</p>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="chat">
            <header class="chat__header">
                <h3 class="message__title subtitle">Rejoindre un salon</h3>
                <span class="isActive"></span>
            </header>
            <section class="chat__main">

                <ul class="message__list"></ul>

                <form id="formMessage">
                    <input type="text" name="message" id="message" autocomplete="off" placeholder="Type Here">
                    <button type="submit" class="submit"><i class="fa-solid fa-circle-chevron-right"></i></button>
                </form>
            </section>
        </main>

        <aside class="aside-right">
            <section class="receiver">
                <img src="https://ui-avatars.com/api/?name=Profile&length=1&background=a8efff&color=1bd5ff&size=125" alt="photo profile" class="receiver__image">
                <h2 class="message__title subtitle"></h2>
            </section>
            <section class="receiver__info">
                <ul>
                    <li class="receiver__info__phone">
                        <p class="ft-bold">Phone</p>
                        <p class="receiver__info__phone__text grey-text"></p>
                    </li>
                    <li class="receiver__info__description">
                        <p class="ft-bold">Description</p>
                        <p class="receiver__info__description__text grey-text"></p>
                    </li>
                    <li class="receiver__info__email">
                        <p class="ft-bold">Email</p>
                        <p class="receiver__info__email__text grey-text"></p>
                    </li>
                </ul>
            </section>
            <div class="shared">
                <p class="ft-bold">Shared File</p>
                <form action="" class="shared__form">
                    <label for="file"  class="shared__label">
                        <div class="icone">
                            <i class="fa-solid fa-file-lines"></i>
                        </div>
                        <p>File</p>
                        <input type="file" name="file" id="file">
                        <i class="fa-solid fa-angle-right grey-text"></i>
                    </label>
                </form>
            </div>

        </aside>
    </div>
    <script src="https://kit.fontawesome.com/e53f4fb6f8.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>